    /* Fonts Family */
    $roboto-font: "Roboto", sans-serif;
    $lilita-font: "Lilita One", cursive;
    $oswald-font: "Oswald", sans-serif;

    /* Colors */
    $light-black: #333;
    $light-white: #f7f7f7;
    $light-red: #e3000e;
    $light-grey: #f6f9fa;
    $light-grey-2: #dddddd;
    $white: #fff;
    $yellow: #f7be27;
    $grey: #757575;
    $brown: #6f5e4d;
    $bg-coffee: #642f21;