@use './variables' as v;
@use './mixins' as m;

header {
    .logo {
        img {
            max-width: inherit;
            width: auto;
            max-height: 80px;
        }
    }

    .cart {
        position: relative;
        top: -0.4375rem;

        .roundpoint {
            width: 16px;
            height: 16px;
            background-color: v.$light-red;
            border-radius: 50%;
            color: v.$white;
            font-size: 1.2rem;
            line-height: 1.6rem;
            text-align: center;
            font-style: normal;
            position: absolute;
            top: 3.2px;
            right: -8px;
        }
    }

    .navbar {
        position: absolute;
        background-color: transparent;
        z-index: 1000;
        width: 100%;

        .nav-link {
            color: v.$white;
            display: inline-flex;
            justify-content: center;
            padding: 0 1rem !important;
            font-size: 1.6rem;
            font-weight: 500;
            font-family: v.$oswald-font;
            text-transform: uppercase;
            transition: all 15ms ease-in-out;

            &:hover {
                color: v.$yellow;
            }

            @media(max-width:992px) {
                color: v.$light-black;
                padding: 1rem !important;
            }
        }

        &.sticky {
            position: fixed;
            top: 0;
            left: 0;
            background-color: v.$white;
            -webkit-transition: all 15ms ease-in-out;
            -moz-transition: all 15ms ease-in-out;
            -o-transition: all 15ms ease-in-out;
            -ms-transition: all 15ms ease-in-out;
            transition: all 15ms ease-in-out;
            animation-name: stickyTransition;
            animation-duration: 0.5s;
            animation-fill-mode: both;
            box-shadow: 0 2px 3px rgbe(96, 96, 96, 0.1);

            .nav-link {
                color: v.$light-black;
            }
        }

        @media(max-width:992px) {
            background-color: v.$white;
        }
    }

    @media(max-width:992px) {
        .navbar-toggler {
            border: none;

            &:focus {
                outline: none;
                box-shadow: none;
            }

            .navbar-toggler-icon {
                height: 2.5rem;
                width: 2.5rem;
            }
        }
    }
}

@keyframes stickyTransition {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}