@use './variables' as v;
@use './mixins' as m;

.hero_section {
    position: relative;
    background: url("../assets/hero/hero-1.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 170px 0 90px;

    .price_badge {
        background: url("../assets/hero/price-badge-yellow.png") no-repeat center center;
        --element: 180px;
        width: var(--element);
        height: var(--element);
        background-size: cover;
        position: absolute;
        top: -20px;
        right: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        @media(max-width:767px) {
            --element:160px;
        }

        .badge_desc {
            font-size: 2rem;
            font-weight: 600;
            line-height: 1;
        }

        .badge_price {
            @extend .badge_desc;
            font-size: 3rem;
            margin-top: 10px;
        }
    }

    .hero_text {

        h1,
        h2 {
            font-family: v.$lilita-font;
            font-size: 9rem;
            line-height: 1;
            letter-spacing: 3px;
            margin-bottom: 15px;
        }

        h2 {
            font-size: 3.5rem;
            margin-bottom: 20px;
        }

        p {
            padding: 0 5%;
        }

        @media(max-width:767px) {
            h1 {
                font-size: 6rem;
            }
        }
    }
}